{%extends 'admin/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/details.css">
<link rel="stylesheet" href="/admin.css">
{%endblock%}

{%block content%}
<section class="content" id="content-details">
    <div class="details-header">
        <div>
            <h2>Chef: {{chef.name}}</h2>
        </div>
        <div id="button">
            <a type="button" href="/admin/recipes/{{recipe.id}}/edit">Edit Chef</a>
        </div>
    </div>
    <div class="recipes">
            <div class="recipe-card" id="{{chef.id}}">
                <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
                <h2>{{chef.name}}</h2>
                <h4></h4>
            </div>
    </div>
</section>
<script src="/admin/scripts.js"></script>
{%endblock%}