{%extends 'admin/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/admin.css">
{%endblock%}

{%block content%}
<section class="content2">
    <div class="recipe-header">
        <div>
            <h2>Recipe Management</h2>
        </div>
        <div id="buttonType">
            <a href="/admin/recipes/create" id="button">Create Recipe</a>
        </div>
    </div>
    <div class="cards">
        {%for item in items%}
            <div class="card" id="{{item.id}}">
                <div>
                    <img src="{{item.recipeImg}}" alt="{{item.id}}">
                </div>
                <div>
                    <h3>{{item.recipeName}}</h3>
                    <h4>by {{item.recipeAuthor}}</h4>
                </div>
            </div>
        {%endfor%}
    </div>
</section>
<script src="/admin/scripts.js"></script>
{%endblock%}