{%extends 'layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/details.css">
{%endblock%}

{%block content%}
<section class="content">
    <div class="recipes">
            <div class="recipe-card" id="{{item.id}}">
                <img src="{{item.image}}" alt="{{item.id}}">
                <h2>{{item.title}}</h2>
                <h4>by {{item.author}}</h4>
            </div>
            <div class="recipe-content">
                <div>
                    <h3>Ingredientes <a>ESCONDER</a></h3>
                    <ul>
                    {%for ingredient in item.ingredients%}
                        <li>{{ingredient}}</li>
                    {%endfor%}
                    </ul>
                </div>
                <div>
                    <h3>Modo de Preparo <a>ESCONDER</a></h3>
                    <ul>
                    {%for prep in item.preparation%}
                        <li>{{prep}}</li>
                    {%endfor%}
                    </ul>
                </div>
                <div>
                    <h3>Informações Adicionais <a>ESCONDER</a></h3>
                    <p>{{item.information}}</p>
                </div>
            </div>
    </div>
</section>
<script src="/scripts.js"></script>
{%endblock%}