{%extends 'layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/details.css">
{%endblock%}

{%block content%}
<section class="content">
    <div class="recipes">
            <div class="recipe-card" id="{{item.id}}">
                <img src="/{{item.id}}.png" alt="{{item.id}}">
                <h2>{{item.title}}</h2>
                <h4>by {{item.author}}</h4>
            </div>
            <div class="recipe-content">
                <div>
                    <h3>Ingredientes <a>Mostrar</a></h3>
                    <p>{{item.ingredients}}</p>
                </div>
                <div>
                    <h3>Modo de Preparo <a>Mostrar</a></h3>
                    <p>{{item.preparation}}</p>
                </div>
                <div>
                    <h3>Informações Adicionais <a>Mostrar</a></h3>
                    <p>{{item.information}}</p>
                </div>
            </div>
    </div>
</section>
<script src="/scripts.js"></script>
{%endblock%}