<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/recipes.css">
    <link rel="stylesheet" href="/modal.css">
    <title>Foodfy</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" id="logo"><img src="/logo.png" alt="Logo Foodfy"></a>
            <a href="/about" id="about">About</a>
            <a href="/recipes" id="recipes">Recipes</a>
        </nav>
    </header>
    <section class="content2">
        <div class="cards">
            <div class="card" id="burger">
                <img src="/burger.png" alt="Burger">
                <h3>Triple Bacon Burger</h3>
                <h4>by Jorge Relato</h4>
            </div>
            <div class="card" id="pizza">
                <img src="/pizza.png" alt="Pizza">
                <h3>Pizza 4 Seasons</h3>
                <h4>by Fabiana Melo</h4>
            </div>
            <div class="card" id="espaguete">
                <img src="/espaguete.png" alt="Espaguete">
                <h3>Spaghetti with Garlic</h3>
                <h4>by Júlia Kinoto</h4>
            </div>
            <div class="card" id="lasanha">
                <img src="/lasanha.png" alt="Lasanha">
                <h3>Mac n' Cheese Lasagna</h3>
                <h4>by Juliano Vieira</h4>
            </div>
            <div class="card" id="doce">
                <img src="/doce.png" alt="Pão-do-Céu">
                <h3>Pão-do-Céu Sweets</h3>
                <h4>by Ricardo Golvea</h4>
            </div>
            <div class="card" id="asinhas">
                <img src="/asinhas.png" alt="Asinhas de Frango">
                <h3>Barbecue Chicken Wings</h3>
                <h4>by Vania Steroski</h4>
            </div>
            <div class="card" id="burger">
                <img src="/burger.png" alt="Burger">
                <h3>Triple Bacon Burger</h3>
                <h4>by Jorge Relato</h4>
            </div>
            <div class="card" id="pizza">
                <img src="/pizza.png" alt="Pizza">
                <h3>Pizza 4 Seasons</h3>
                <h4>by Fabiana Melo</h4>
            </div>
            <div class="card" id="espaguete">
                <img src="/espaguete.png" alt="Espaguete">
                <h3>Spaghetti with Garlic</h3>
                <h4>by Júlia Kinoto</h4>
            </div>
            <div class="card" id="lasanha">
                <img src="/lasanha.png" alt="Lasanha">
                <h3>Mac n' Cheese Lasagna</h3>
                <h4>by Juliano Vieira</h4>
            </div>
            <div class="card" id="doce">
                <img src="/doce.png" alt="Pão-do-Céu">
                <h3>Pão-do-Céu Sweets</h3>
                <h4>by Ricardo Golvea</h4>
            </div>
            <div class="card" id="asinhas">
                <img src="/asinhas.png" alt="Asinhas de Frango">
                <h3>Barbecue Chicken Wings</h3>
                <h4>by Vania Steroski</h4>
            </div>
        </div>
    </section>
    <div class="modal-overlay">
        <div class="modal">
          <a class="close-modal">
               <i class="material-icons">close</i>
           </a>
           <div class="modal-content">
                <img src="" alt="">
                <h3></h3>
                <h4></h4>
           </div>
      </div>
    </div>
    <footer>
            <p>All rights reserved, Foodfy recipes.</p>
    </footer>
    <script src="/scripts.js"></script>
</body>
</html>