{%extends 'site/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/chefs.css">
{%endblock%}

{%block content%}
<section class="content2" id="chefs-content">
    <div class="cards">
        {%for chef in chefs%}
            <div class="card" id="{{chef.id}}">
                <div>
                    <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
                </div>
                <div>
                    <h3>{{chef.name}}</h3>
                    <h4>{{chef.total_recipes}} recipes</h4>
                </div>
            </div>
        {%endfor%}
    </div>
</section>
<script src="/admin/scripts.js"></script>
{%endblock%}