:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

header nav a#about {
    font-weight: bold;
}

.content {
    margin: 32px 230px;
}

.content h2 {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}