:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

header nav a#recipes {
    font-weight: bold;
}

.content2 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    width: 300px;
    margin-left: 16.4%;
}

h2 {
    font-size: 24px;
    color: var(--green-color);
    line-height: 34px;
}

.form-header h2,
.content2 h2 {
    margin: 50px 0 30px 220px;
}

.details-header h2 {
    margin: 48px  0 24px 0;
}

.content2 .cards .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards .card {
    position: relative;
}

.cards .card a#visualize-recipe {
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
}

.cards .card a#visualize-recipe:hover {
    font-weight: bold;
}

.content2 .cards .card img {
    object-fit: cover;
    width: 278px;
    height: 120px;
    border-radius: 15px;
    margin-right: 20px;
}

.content2 .cards .card h3 {
    font-size: 18px;
    color: var(--green-color);
    margin-top: 1.8% 0 0.5% 0;
    width: 200px;
}

.content2 .cards .card h4 {
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
    margin: 4px 0 8px 0;
}

form #delete-form {
    position: relative;
}

button[type="submit"]#delete-button {
    position: absolute;
    top: 133px;
    left: 900px;
    background-color: lightcoral;
    color: var(--main-color);
}

.form-header,
.details-header,
.recipe-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-header #button,
.details-header #button {
    text-align: right;
    margin: 50px 170px 0 0;
}

.details-header #button {
    margin-right: 0;
}

.create-form {
    margin-bottom: 163px;
}

.create-form .item {
    margin-left: 16.4%;
    margin-bottom: 4%;
}

.create-form .item input,
textarea {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 940px;
    height: 24px;
    margin-bottom: 6px;
    padding: 10px;
}

.create-form .item select {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 965px;
    padding: 10px;
}

textarea {
    resize: none;
    font-size: 16px;
    height: 250px;
}

button[type="button"].add-ingredient,
button[type="button"].add-prep {
    background: white;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: var(--green-color);
    text-decoration: none;
    margin-top: 1%;
    outline: none;
    padding: 0;
}

.create-form .item div:nth-child(1) {
    margin-bottom: 0.7%;
}

.create-form button,
.details-header a,
.recipe-header #button {
    background: var(--main-color);
    color: var(--green-color);
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

.details-header a {
    text-decoration: none;
}

.recipe-header #button {
    text-decoration: none;
}

.recipe-header #buttonType {
    margin-top: 55px;
    margin-left: 235px;
}

.create-form button:hover,
.recipe-header #button:hover,
.details-header a:hover {
    opacity: 0.7;
}

.details-header {
    width: 940px;
}

.content#content-details {
    margin: 0 230px 32px 230px;
}

form .item .photos-header {
    display: grid;
    grid-template-columns: 160px 120px;
    align-items: center;
}

form .item #photos-upload {
    position: relative;
}

form .item #photos-upload button {
    border: 1px solid #DDDDDD;
    width: 149px;
    height: 149px;
    background: #FFFFFF;
    border-radius: 4px;
}

form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 135px;
    height: 135px;
    opacity: 0;
}

form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    width: 100%;
    margin: 8px 0;
}

form .item #photos-preview img {
    border: 1px solid #DDDDDD;
    width: 149px;
    height: 149px;
    border-radius: 4px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    color: var(--main-color);
    width: 100%;
    height: 100%;
    font-size: 250%;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}