:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

header nav a#recipes {
    font-weight: bold;
}

.content2 {
    margin-top: 58px;
}

.content2 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    width: 300px;
    margin-left: 16.4%;
}

h2 {
    font-size: 24px;
    color: var(--green-color);
    margin: 50px 0 30px 220px;
    line-height: 34px;
}

.content2 .cards .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content2 .card:hover {
    opacity: 0.7;
    cursor: pointer;
}

.cards .card {
    position: relative;
}

.content2 .cards .card img {
    width: 278px;
    height: 120px;
    border-radius: 15px;
    margin-right: 20px;
}

.content2 .cards .card h3 {
    font-size: 18px;
    color: var(--green-color);
    margin-top: 1.8% 0 0.5% 0;
    width: 200px;
}

.content2 .cards .card h4 {
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
    margin-top: 0.5%;
    margin-bottom: 2.7%;
}

.form-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-header #button {
    text-align: right;
    margin-right: 170px;
    margin-top: 50px;
}

.create-form .item {
    margin-left: 16.4%;
    margin-bottom: 4%;
}

.create-form .item input,
textarea {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    width: 940px;
    height: 24px;
    margin-bottom: 6px;
    padding: 10px;
}

textarea {
    resize: none;
    font-size: 16px;
    height: 250px;
}

button[type="button"].add-ingredient,
button[type="button"].add-prep {
    background: white;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: var(--green-color);
    text-decoration: none;
    margin-top: 1%;
    outline: none;
    padding: 0;
}

.create-form .item div:nth-child(1) {
    margin-bottom: 0.7%;
}

.create-form button {
    background: var(--main-color);
    color: var(--green-color);
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

.create-form button:hover{
    opacity: 0.7;
}