:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

.content {
    margin: 32px 230px;
}

.recipes-content a#button1,
.recipes-content a#button2,
.recipes-content a#button3 {
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    font-weight: lighter;
}

.content .recipes .recipe-card img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
}

.content .recipes .recipe-card h2 {
    font-size: 36px;
    color: var(--green-color);
    margin: 50px 0 4px 0;
    font-weight: bold;
}

.content .recipes .recipes-content h3 {
    font-size: 24px;
    color: var(--green-color);
    margin-bottom: 20px;
}

.content .recipes .recipes-content p {
    font-size: 18px;
    color: var(--main-color);
    line-height: 28px;
    margin-bottom: 40px;
}

.content .recipes .recipes-content ul {
    font-size: 24px;
    color: var(--main-color);
    margin-bottom: 20px;

}

.content .recipes-content .recipe-ingredients.hide ul {
    display: none;
}

.content .recipes-content .recipe-preparation.hide ul {
    display: none;
}

.content .recipes-content .recipe-information.hide p {
    display: none;
}

.content .recipes .recipes-content li {
    font-size: 18px;
    color: var(--main-color);
    line-height: 28px;
}

.content .recipes .recipe-card h4 {
    font-size: 20px;
    color: #777777;
    font-weight: lighter;
    margin-bottom: 50px;
}

.content .recipes .recipe-card h2,
.content .recipes .recipe-card h4 {
    text-align: center;
}