:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--main-color);
    width: 67.1%;
    height: 33.2%;
    border-radius: 30px;
    margin: 32px 16.4% 3.5% 16.4%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.content1 .content {
    margin: 24% 0 0 20.7%;
}

.content1 .content h1 {
    font-size: 32px;
    font-weight: bold;
    color: var(--green-color);
    margin-bottom: 0px;
}

.content1 .content p {
    font-size: 18px;
    line-height: 28px;
    color: var(--green-color);
    opacity: 0.7;
    margin-top: 8px;
    max-width: 300px;
}

.content1 .img-background img {
    width: 432px;
    height: 300px;
    margin: 14.4% 0 0 0;
}

.content2 h2 {
    margin: 0 0 1.8% 16.4%;
    font-size: 24px;
    line-height: 34px;
    color: var(--green-color);
}

.content2 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
    width: 300px;
    margin-left: 13%;
}

.cards .card {
    padding: 16px;
    border-radius: 30px;
    position: relative;
}

.card .preparation-time {
    font-size: 12px;
    position: absolute;
    top: 125px;
    right: 36px;
    background-color: var(--main-color);
    color: var(--green-color);
    border-radius: 30px;
    padding: 4px 8px;
}

.content2 .cards .card:hover {
    opacity: 0.7;
    cursor: pointer;
}

.content2 .cards .card img {
    width: 278px;
    height: 120px;
    border-radius: 15px;
}

.content2 .cards .card h3 {
    font-size: 18px;
    color: var(--green-color);
    margin-top: 1.8%;
}

.content2 .cards .card h4 {
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
    margin-top: 2%;
    margin-bottom: 1.5%;
}