@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--main-color);
}

header nav {
    display: flex;
    align-items: center;
}

header nav form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
    margin: 12px 0 0 80px;
}

header nav form button {
    background-color: var(--green-color);
    color: var(--main-color);
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    height: 32px;
}

header nav form button:hover {
    opacity: 0.7;
}

header nav form input {
    border: 1px solid #eee;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

header nav a {
    height: 1.7%;
    margin: 16px 32px 16px 32px;
    font-size: 16px;
    line-height: 26px;
    color: var(--green-color);
    text-decoration: none;
}

header nav a img {
    width: 90px;
    height: 27px;
    margin-top: 16px;
}

header nav a#logo {
    margin-left: 180px;
}

header nav a#about {
    margin-top: 30px;
    width: 42px;
}

header nav a#recipes,
header nav a#chefs,
header nav a#admin {
    margin-left: 30px;
    margin-top: 30px;
    width: 58px;
}

header nav a:hover {
    font-weight: bold;
    transition: 900ms;
}

footer {
    background-color: var(--main-color);
    height: 52px;
    width: 100%;
    margin-top: 4.5%;
    display: flex;
    align-items: center;
}

footer p {
    font-size: 14px;
    line-height: 24px;
    color: var(--green-color);
    flex: 1;
    text-align: center;
}