@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header nav {
    display: flex;
    background-color: var(--main-color);
}

header nav a {
    width: 3%;
    height: 1.7%;
    margin: 15px 30px 0px 30px;
    font-size: 16px;
    line-height: 26px;
    color: var(--green-color);
    text-decoration: none;
}

header nav a img {
    width: 120px;
    height: 50px;
}

header nav a#logo {
    margin-left: 230px;
}

header nav a#about {
    margin-left: 124px;
    margin-top: 30px;
}

header nav a#recipes {
    margin-left: 30px;
    margin-top: 30px;
}

header nav a:hover {
    font-weight: bold;
    transition: 900ms;
}

footer {
    background-color: var(--main-color);
    height: 52px;
    width: 100%;
    margin-top: 4.5%;
    display: flex;
    align-items: center;
}

footer p {
    font-size: 14px;
    line-height: 24px;
    color: var(--green-color);
    flex: 1;
    text-align: center;
}