:root {
    --main-color: #111111;
    --green-color: #2EA652;
}

header nav a#recipes {
    font-weight: bold;
}

.content2 {
    margin-top: 58px;
}

.content2 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
    width: 300px;
    margin-left: 16.4%;
}

.content2 .card:hover {
    opacity: 0.7;
    cursor: pointer;
}

.cards .card {
    position: relative;
}

.card .preparation-time {
    font-size: 12px;
    position: absolute;
    top: 108px;
    right: 30px;
    background-color: var(--main-color);
    color: var(--green-color);
    border-radius: 30px;
    padding: 4px 8px;
}

.content2 .cards .card img {
    width: 278px;
    height: 120px;
    border-radius: 15px;
}

.content2 .cards .card h3 {
    font-size: 18px;
    color: var(--green-color);
    margin-top: 1.8%;
}

.content2 .cards .card h4 {
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
    margin-top: 0.5%;
    margin-bottom: 2.7%;
}