@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --main-color: #111111;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header nav {
    display: flex;
}

header nav img {
    width: 6.5%;
    height: 2.4%;
    margin: 3.3% 8.7% 2.7% 16.5%;
}

header nav a {
    width: 3%;
    height: 1.7%;
    margin: 3.4% 2.1% 3.3% 0;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-color);
    text-decoration: none;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fbdfdb;
    width: 67.1%;
    height: 33.2%;
    border-radius: 30px;
    margin: 0 16.4% 4.5% 16.4%;
}

.content1 .content {
    margin: 24% 0 0 20.7%;
}

.content1 .content h1 {
    font-size: 32px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 0px;
}

.content1 .content p {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    margin-top: 8px;
    max-width: 300px;
}

.content1 .img-background img {
    width: 216px;
    height: 300px;
    margin: 14.4% 23.6% 0 17.7%;
}

.content2 h2 {
    margin: 0 0 1.8% 16.4%;
    font-size: 24px;
    line-height: 34px;
    color: var(--main-color);
}

.content2 .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
    width: 300px;
    margin-left: 16.4%;
}

.content2 .cards .card img {
    width: 260px;
    height: 120px;
    border-radius: 15px;
}

.content2 .cards .card h3 {
    font-size: 18px;
    color: var(--main-color);
    margin-top: 1.8%;
}

.content2 .cards .card h4 {
    font-size: 14px;
    color: #777777;
    margin-top: 0.5%;
    margin-bottom: 2.7%;
}

footer {
    background-color: #eeeeee;
    height: 52px;
    width: 100%;
    margin-top: 4.5%;
}

footer p {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    text-align: center;
    margin-bottom: 2.1%;
}