{%extends 'site/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/details.css">
{%endblock%}

{%block content%}
<section class="content">
    <div class="recipes">
            <div class="recipe-card" id="{{recipe.id}}">
                <img src="{{recipe.image}}" alt="{{recipe.id}}">
                <h2>{{recipe.title}}</h2>
                <h4>by {{recipe.chefs_name}}</h4>
            </div>
            <div class="recipes-content">
                <div class="recipe-ingredients">
                    <h3>Ingredients <a id="button1">HIDE</a></h3>
                    <ul>
                    {%for ingredient in recipe.ingredients%}
                        <li>{{ingredient}}</li>
                    {%endfor%}
                    </ul>
                </div>
                <div class="recipe-preparation">
                    <h3>How To Prepare <a id="button2">HIDE</a></h3>
                    <ul>
                    {%for preparation in recipe.preparation%}
                        <li>{{preparation}}</li>
                    {%endfor%}
                    </ul>
                </div>
                <div class="recipe-information">
                    <h3>Additional Information <a id="button3">HIDE</a></h3>
                    <p>{{recipe.information}}</p>
                </div>
            </div>
    </div>
</section>
<script src="/site/scripts.js"></script>
{%endblock%}