{%extends 'site/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/home.css">
{%endblock%}

{%block content%}
<section class="content1">
    <div class="content">
        <h1>The Best Recipes</h1>
        <p>Learn how to build the best dishes with recipes created by professionals from all over the world.</p>
    </div>
    <div class="img-background">
        <img src="/main-logo.svg" alt="Chef Foodfy">
    </div>
</section>
<section class="content2">
    <h2>Our Recipes</h2>
    <div class="cards">
        <div class="card" id="{{recipes.id}}">
        {%for image in images%}
            <img src="{{image.src}}" alt="{{image.id}}">
        {%endfor%}
        {%for recipe in recipes%}
            <div class="preparation-time">{{recipe.time}}</div>
            <h3>{{recipe.title}}</h3>
            <h4>by {{recipe.chefs_name}}</h4>
        {%endfor%}
        </div>
    </div>
</section>
<script src="/site/scripts.js"></script>
{%endblock%}