{%extends 'site/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/home.css">
{%endblock%}

{%block content%}
<section class="content2" id="search-content">
    <h2 id="search-filter">Searching for "{{filter}}"</h2>
    <div class="cards">
        {%for recipe in recipes%}
        <div class="card" id="{{recipe.id}}">
            <img src="{{recipe.image}}" alt="{{recipe.id}}">
            <div class="preparation-time">{{recipe.time}}</div>
            <h3>{{recipe.title}}</h3>
            <h4>by {{recipe.chefs_name}}</h4>
        </div>
        {%endfor%}
    </div>
</section>
<script src="/site/scripts.js"></script>
{%endblock%}