{%extends 'users/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/recipes.css">
{%endblock%}

{%block content%}
<section class="content2">
    <div class="cards">
        {%for item in items%}
        <div class="card" id="{{item.id}}">
            <img src="{{item.recipeImg}}" alt="{{item.id}}">
            <div class="preparation-time">{{item.recipeTime}}</div>
            <h3>{{item.recipeName}}</h3>
            <h4>by {{item.recipeAuthor}}</h4>
        </div>
        {%endfor%}
    </div>
</section>
<script src="/users/scripts.js"></script>
{%endblock%}