{%extends 'admin/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/admin.css">
{%endblock%}

{%block content%}

<section class="create-form">
    <form action="/admin/recipes" method="POST" enctype="multipart/form-data">
        <div class="form-header">
            <div>
                <h2>Create Recipe</h2>
            </div>
            <div id="button">
                <button type="submit">Save Recipe</button>
            </div>
        </div>
        <div class="item">
            <div>Recipe Images</div>
            <div class="photos-header">
                <div id="photos-upload">
                    <input
                        type="file"
                        name="photos"
                        id="photos-input"
                        multiple
                        accept="image/*"
                        onchange="PhotosUpload.handleFileInput(event)"
                    >
                    <button>
                        <i class="material-icons">
                            add
                        </i>
                    </button>
                </div>
                <div id="photos-preview">
                </div>
            </div>
        </div>
        <div class="item">
            <div>Chef</div>
            <div>
                <select name="chef">
                    {%for chef in chefOptions%}
                        <option value="{{chef.id}}" {%if recipe.chef_id == chef.id%}selected{%endif%}>
                            {{chef.name}}
                        </option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="item">
            <div>Recipe Name</div>
            <div>
                <input
                    type="text"
                    name="title"
                >
            </div>
        </div>
        <div class="item">
            <div>Ingredients</div>
            <div id="ingredients">
                <div class="ingredient">
                    <input
                        type="text"
                        name="ingredients[]"
                    >
                </div>
            </div>
            <button type="button" class="add-ingredient">
                Add new ingredient
            </button>
        </div>
        <div class="item">
            <div>Prepare Time (minutes)</div>
            <div>
                <input
                    type="text"
                    name="time"
                >
            </div>
        </div>
        <div class="item">
            <div>Recipe Prepare</div>
            <div id="preps">
                <div class="prep">
                    <input
                        type="text"
                        name="preparation[]"
                    >
                </div>
            </div>
            <button type="button" class="add-prep">
                Add new step
            </button>
        </div>
        <div class="item">
            <div>
                <div>
                    <label for="information">Additional Information</label>
                </div>
                <textarea name="information" id="information"></textarea>
            </div>
        </div>
    </form>
</section>
<script src="/admin/scripts.js"></script>
{%endblock%}