{%extends 'admin/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/details.css">
<link rel="stylesheet" href="/admin.css">
{%endblock%}

{%block content%}
<section class="content" id="content-details">
    <div class="details-header">
        <div>
            <h2>Recipe: {{recipe.title}}</h2>
        </div>
        <div id="button">
            <a type="button" href="/admin/recipes/{{recipe.id}}/edit">Edit Recipe</a>
        </div>
    </div>
    <div class="recipes">
            <div class="recipe-card" id="{{recipe.id}}">
                <img src="{{images.src}}" alt="{{images.name}}">
                <h2>{{recipe.title}}</h2>
                <h4>by {{recipe.chefs_name}}</h4>
            </div>
            <div class="recipes-content">
                <div class="recipe-ingredients">
                    <h3>Ingredients</h3>
                    <ul>
                    {%for ingredient in recipe.ingredients%}
                        <li>{{ingredient}}</li>
                    {%endfor%}
                    </ul>
                </div>
                <div class="recipe-preparation">
                    <h3>How To Prepare</h3>
                    <ul>
                    {%for preparation in recipe.preparation%}
                        <li>{{preparation}}</li>
                    {%endfor%}
                    </ul>
                </div>
                <div class="recipe-information">
                    <h3>Additional Information</h3>
                    <p>{{recipe.information}}</p>
                </div>
            </div>
    </div>
</section>
<script src="/admin/scripts.js"></script>
{%endblock%}