{%extends 'admin/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/admin.css">
{%endblock%}

{%block content%}

<section class="create-form">
    <form action="/admin/recipes?_method=DELETE" method="POST" id="delete-form">
        <input type="hidden" name="id" value="{{recipe.id}}">
        <button type="submit" id="delete-button">Delete Recipe</button>
    </form>
    <form action="/admin/recipes?_method=PUT" method="POST">
        <div class="form-header">
            <div>
                <h2>Create Recipe</h2>
            </div>
            <div id="button">
                <button type="submit">Save Recipe</button>
            </div>
        </div>
        <div class="item">
            <div>Recipe Image</div>
            <div>
                <input
                    type="text"
                    name="image"
                    placeholder="http://"
                    value="{{recipe.image}}"
                >
            </div>
        </div>
        <div class="item">
            <div>Chef</div>
            <div>
                <select name="chef">
                    {%for chef in chefOptions%}
                        <option value="{{chef.id}}" {%if recipes.chef_id == chef.id%}selected{%endif%}>
                            {{chef.name}}
                        </option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="item">
            <div>Recipe Name</div>
            <div>
                <input
                    type="text"
                    name="title"
                    value="{{recipe.title}}"
                >
            </div>
        </div>
        <div class="item">
            <div>Ingredients</div>
            <div id="ingredients">
                <div class="ingredient">
                    {%for ingredient in recipe.ingredients%}
                        <input
                            type="text"
                            name="ingredients[]"
                            value="{{ingredient}}"
                        >
                    {%endfor%}
                </div>
            </div>
            <button type="button" class="add-ingredient">
                Add new ingredient
            </button>
        </div>
        <div class="item">
            <div>Prepare Time (minutes)</div>
            <div>
                <input
                    type="text"
                    name="time"
                    value="{{recipe.time}}"
                >
            </div>
        </div>
        <div class="item">
            <div>Recipe Prepare</div>
            <div id="preps">
                <div class="prep">
                    {%for preparation in recipe.preparation%}
                        <input
                            type="text"
                            name="preparation[]"
                            value="{{preparation}}"
                        >
                    {%endfor%}
                </div>
            </div>
            <button type="button" class="add-prep">
                Add new step
            </button>
        </div>
        <div class="item">
            <div>
                <div>
                    <label for="information">Additional Information</label>
                </div>
                <textarea 
                    name="information"
                >
                {{recipe.information}}
                </textarea>
            </div>
        </div>
        <input
            type="hidden"
            name="id"
            value={{recipe.id}}
        >
    </form>
</section>
<script src="/admin/scripts.js"></script>
{%endblock%}