{%extends 'admin/layout.njk'%}

{%block head%}
<title>Foodfy</title>
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="/admin.css">
{%endblock%}

{%block content%}
<section class="content2">
    <div class="recipe-header">
        <div>
            <h2>Recipe Management</h2>
        </div>
        <div id="buttonType">
            <a href="/admin/recipes/create" id="button">Create Recipe</a>
        </div>
    </div>
    <div class="cards">
            <div class="card" id="{{recipes.id}}">
            {%for image in images%}
                <div>
                    <img src="{{image.src}}" alt="{{image.id}}">
                </div>
            {%endfor%}
            {%for recipe in recipes%}
                <div>
                    <h3>{{recipe.title}}</h3>
                    <h4>by {{recipe.chefs_name}}</h4>
                    <a href="/admin/recipes/{{recipe.id}}" id="visualize-recipe">Visualize</a>
                </div>
            {%endfor%}
            </div>
    </div>
</section>
<script src="/admin/scripts.js"></script>
{%endblock%}